Django==4.1.4
django-cors-headers==3.14.0
django-filter==23.1
django-oauth-toolkit==2.2.0
djangorestframework==3.14.0
fonttools==4.39.3
google==3.0.0
googlesearch-python==1.1.0
importlib-metadata==6.1.0
importlib-resources==5.12.0
joblib==1.2.0
lightgbm==3.3.5
MarkupSafe==2.1.2
matplotlib==3.7.1
mock==5.0.1
npm==0.1.1
numpy==1.24.2
oauthlib==3.2.2
optional-django==0.1.0
pandas==1.5.3
Pillow==9.4.0
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
react==4.3.0
requests==2.25.1
scikit-learn==1.2.2
seaborn==0.12.2
sklearn==0.0.post1
tld==0.13
urllib3==1.26.15
wordcloud==1.8.2.2
xgboost==1.7.4
